{% extends "base.html" %}
{% set active_page = 'books' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}<h1 class="text-center" name="search-book" id='search-book'>{{ title }}</h1>{% endblock %}

{% block content %}
<!--Alerts-->
<div class="row d-flex justify-content-center m-0">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class='col-8'>
            <div class="alert alert-dismissible fade show {{ category }} text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-align-center p-0 m-0">{{ message }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<!--Search bar-->
<form class="form-inline justify-content-center mb-4" action="" method="post" role="search" aria-labelledby="search-book" name="search-book-form">
    {{ form.hidden_tag() }}
    {{ form.search(class="form-control mr-2 mt-2 w-75", type="Search", placeholder="Enter book title or author", aria_label="Search") }}
    <button type="submit" class="btn btn-outline-primary search-book mt-2" name="search">Search</button>
</form>

<!--Display results-->
<form class="d-none" action="/pass_book_id" method="POST" id="pass-book-id"></form>
<div class="row d-flex justify-content-center align-items-start w-100 text-center">
    {% if msg != None %}<p class="col-7 font-weight-light">{{ msg }}</p>{% endif %}
    <!--Alert for successful removal-->
    <div class="col-8 alert fade show alert-success" style="display:none" role="alert">
        <p class="text-align-center p-0 m-0 list-change"></p>
    </div>
        {% for book in results %}
        <button class="d-none btn" form="pass-book-id" name="book-id" value="v-{{book.id}}" aria-hidden="true" aria-label="{{book.title}}">
        </button>
        <div class="col-10 col-md-6 col-lg-5 border border-dark rounded p-2 m-2 book-info" id="v-{{ book.id }}" tabindex="0" role="button">
        <h2 class="ml-2 mr-2">{{ book.title }}<br>
        <small>{{ book.author }}</small></h2>
        <!--Display options when user is logged in-->
        {% if current_user.is_authenticated %}
            <div>
                <!-- Display buttons to add/remove to reading list depending on if it's already added or not-->
                {% if book in added_books %}
                <button class="btn btn-secondary edit-reading-list ml-2 mt-2 mr-2" name="remove" id="{{ book.id }}">Remove from Reading List</button>
                {% else %}
                <button class="btn btn-secondary edit-reading-list mt-2 mr-2" name="add" id="{{ book.id }}">Add to Reading List</button>
                {% endif %}
                {% if book in read_books %}
                <button class="btn btn-secondary post-book mt-2 mr-2" name="post" id="mark-{{ book.id }}" disabled>Book Finished!</button>
                {% else %}
                <button class="btn btn-secondary post-book mt-2 mr-2" name="post" id="mark-{{ book.id }}">Mark as Read</button>
                {% endif %}
            </div>
        {% endif %}
</div>
    {% endfor %}
</div>

{% endblock %}